.btn-like {
  display: none;
}

body .submitMessage {
    display: none;
}

body.state_writing.is_writer .submitMessage {
    display: block;
}

body.state_voting {
  .btn-like {
    display: block;
  }
}